body {
  background-color: #27a36b;
  background-image: url("https://www.transparenttextures.com/patterns/honey-im-subtle.png");
  color: #dddddd;
  font-family: Times New Roman, Helvetica, sans-serif;
  margin: 10% 20%;
  
}

.exp-header {
  text-align: center
  text-transform: uppercase;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  background-color: rgba(0,0,0, 0.1)
}

.name-header{
  border-bottom: 1px solid #dddddd
    
}

img{
  max-width: 25%;
  float: right;
  border: 5px dashed #dddddd;
}
